@import '~antd/dist/antd.css';

.App {
  text-align: center;
  width: 600px;
  height: 600px;
}
.App .left {
  width: 200px;
  height: 100%;
  background-color: aliceblue;
  border-right: 2px solid black;
}
.left-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(234, 240, 239);
  padding: 10px;
}
