@import '~antd/dist/antd.css';

.App {
  text-align: center;
  width: 600px;
  height: 600px;
}
header {
  height: 40px;
  background-color: antiquewhite;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.content {
  display: flex;
  height: calc(100% - 40px);
}

.App .left {
  width: 200px;
  background-color: aliceblue;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(234, 240, 239);
  padding: 10px;
}
